<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="slickdroid.example.jdbc"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">

        <uses-library android:name="scala_library-2.11"/>
        <uses-library android:name="scalatest-2.11"/>
        <uses-library android:name="scala_xml-2.11"/>

        <activity android:name="slickdroid.example.BenchmarkActivity"
                  android:label="SlickDroid Benchmark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="slickdroid.example.MainActivity"
                  android:label="SlickDroid Jdbc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
